img {
	display: inline-block;
}

body {
	background-color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}


/*search bar*/
.searchbar {
	padding: 0 0 0 15px; /* Padding for other horizontal elements */
}

.searchformwrap {
	height: auto;
	width: auto;
	max-width: 35%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}

.searchform {
	overflow: hidden;
	position: relative;
}

.searchinputwrap {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.searchinput {
	width: 100%;
}

.searchinput {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 20px;
  	padding: 0 46px 0 10px;
	border-color: black;
  	border-radius: 35px; /* (height/2) + border-width */
  	border-style: solid;
	border-width: 2px;
  	margin-top: 15px;
  	color: black;
  	font-family: 'Helvetica', sans-serif;
	font-size: 13px;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.searchinput:focus {
	outline: none;
	border-color: pink;
}

.searchinput:hover {
	outline: none;
	border-color: pink;
}

.searchsubmit {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 43px;
	height: 54px;
  	padding: 0;
  	border: none;
	background: transparent;
  	color: black;
  	font-family: 'Helvetica', sans-serif;
  	font-size: 15px;
  	line-height: 15px;
}

.searchsubmit:focus {
	color: pink;
	outline: none;
}

.searchsubmit:hover {
	color: pink;
	outline: none;
}

/*button*/
.button {
   float: left;
   margin-left: 15px;
   border: 2px solid #000000;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   padding: 3px 6px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #ffffff 0 1px 0;
   color: #000000;
   font-size: 15px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
}

.button:hover {
   border: 2px solid #f7a1ff;
   text-shadow: #ffffff 0 1px 0;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #ffa1ff;
}

.button:active {
   text-shadow: #ffffff 0 1px 0;
   border: 2px solid #e096eb;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #ffffff 100%);
   color: #ffadff;
   outline: none;
}

/*data displayed*/
.temperature {
	font-size: 65px;
	padding-bottom: 10px;
}

.location {
	padding-bottom: 5px;
	font-size: 25px;
}

.wind {
	padding-bottom: 65px;
}

/*line*/
.line {
	max-width: 50%;
	color: darkgrey;
	margin-bottom: 25px;
}

a {
	text-decoration: none;
	font-size: 40px;
	color: black;
}

a:hover {
	display: inline-block;
	color: pink;
	text-decoration: none;
}
